# No ignorar los archivos .c 
!.c

# Ignorar archivos objeto generados durante la compilación
*.o
p1 
p2
p3
p4
p5
p6

# No ignorar el .gitignore para poder trabajar con las mismas condiciones en cualquier entorno
!.gitignore

# Entorno VS Code
.vscode
